<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>没有权限进入</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/sigin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/index}">
    <img class="mb-4" th:src="@{/asserts/img/YUI-MHCP001.ico}" alt="" width="250" height="150">
    <h1 class="h3 mb-3 font-weight-normal" >
        删除成功
    </h1>
    <h4>
        <a th:href="@{/Dashboard/delete}">再次删除</a>
    </h4>
    <h4>
        <a th:href="@{/Dashboard/}">返回数据页</a>
    </h4>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form>

</body>
</html>
