<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/Dashboard/}">疫情人数控制系统</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/whetherlogout}">登出</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Dashboard/}">
                            <span data-feather="home"></span>
                            人数统计 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/Dashboard/add}">
                            <span data-feather="file"></span>
                            管理新增患者
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Dashboard/newadd}">
                            <span data-feather="shopping-cart"></span>
                            查看有新增的省份
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Dashboard/allnumber}">
                            <span data-feather="users"></span>
                            全国各省份统计
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Dashboard/Controlnewadd}">
                            <span data-feather="bar-chart-2"></span>
                            管理今日新增省份
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Dashboard/update}">
                            <span data-feather="bar-chart-2"></span>
                            修改各省份患病信息
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Dashboard/delete}">
                            <span data-feather="layers"></span>
                            移除完全痊愈省份
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
            <span data-feather="calendar"></span>
            <button class="btn btn-sm btn-outline-secondary">This Week</button>
            <h2>添加新增患病省份和人数</h2>

            <form th:action="@{/Dashboard/addPeople}" method="post">
                <div class="form-group">
                    <label>area</label>
                    <input type="text" name="area" class="form-control" placeholder="黑龙江">
                </div>
                <div class="form-group">
                    <label>addnum</label>
                    <input type="text" name="addnum" class="form-control" placeholder="0">
                </div>
                <div class="form-group">
                    <label>total</label>
                    <input type="text" name="total" class="form-control" placeholder="0">
                </div>
                <div class="form-group">
                    <label>cure</label>
                    <input type="text" name="cure" class="form-control" placeholder="0">
                </div>
                <div class="form-group">
                    <label>dead</label>
                    <input type="text" name="dead" class="form-control" placeholder="0">
                </div>
                <button type="submit" class="btn btn-primary">添加</button>
            </form>
        </main>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</body>
</html>
